span {
  padding: 3px;
  /* border: 2px #000 solid; */
}
.app button {
  border-radius: 10px;
  height: 56px;
  width: 194px;
}
.display-result {
  display: flex;
  width: 1000px;
  height: 100%;
  flex-wrap: wrap;
}
